# Ignore all files and directories in the root directory by default
**

# Exclude what is required for the build container to run
!angular.json
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.libs.json
!apps/
!libs/
## TODO -> Remove these
!tools/
!testing/