# Ignore all files and directories in the root directory by default
**
**/*.spec.ts

# Exclude what is required for the build container to run
!angular.json
!package.json
!package-lock.json
!tsconfig.base.json
!tsconfig.server.json
!docker/nginx.conf
!apps/
!libs/
