// Normalize css
@import '~normalize.css';
// Angular Material Themeing Mixins
@import '~@angular/material/theming';

// Themes for Prism.js syntax highlighting
@import '~prismjs/themes/prism.css';
// @import '~prismjs/themes/prism-tomorrow.css';

// import the theming file
@import 'libs/web/common/theme/styles/theme.scss';
@import 'libs/web/common/theme/styles/typography.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($app-typography);

@include angular-material-theme($app-theme);

.dark-theme {
  @include angular-material-theme($dark-theme);
}

/* You can add global styles to this file, and also import other style files */

html,
body,
examples-root {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Lato, 'Helvetica Neue', sans-serif;
}

// ------------------------------------------------
// Insert additional styles here
// ------------------------------------------------
