// Normalize css
@import '~normalize.css';
// Angular Material Themeing Mixins
@import '~@angular/material/theming';

// import the theming & typography file
@import 'styles/theme.scss';
@import 'styles/typography.scss';
@import 'styles/common.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

/* You can add global styles to this file, and also import other style files */

html,
body,
demo-root {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

body {
  font-family: Muli, sans-serif;
}

// ------------------------------------------------
// Insert additional styles here
// ------------------------------------------------

.ztp-form {
  .ztp-nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
