.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// https://tympanus.net/Development/InlineAnchorStyles/

// a[href*='http'] {
//   outline: none;
//   text-decoration: none;
//   padding: 2px 1px 0;
// }

// a[href*='http']:link {
//   color: #265301;
// }

// a[href*='http']:visited {
//   color: #437a16;
// }

// a[href*='http']:focus {
//   border-bottom: 1px solid;
//   color: #bae498;
// }

// a[href*='http']:hover {
//   border-bottom: 1px solid;
//   color: #cdfeaa;
// }

// a[href*='http']:active {
//   // background: #265301;
//   color: #cdfeaa;
// }

// .dark-mode {
//   a:link {
//     color: #265301;
//   }

//   a:visited {
//     color: #437a16;
//   }

//   a:focus {
//     background: #bae498;
//   }

//   a:hover {
//     background: #cdfeaa;
//   }

//   a:active {
//     background: #265301;
//     color: #cdfeaa;
//   }
// }
