// https://type-scale.com/

// Default typography setting. Import and override in the 'styles.scss'
// Note the use of custom properties for type scales that can be adjusted
// with media quires

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.25;
  color: #333;
}

p {
  margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1.5rem 0 1rem;
  font-family: 'Nobile', sans-serif;
  font-weight: 500;
  line-height: 1.15;
}

:root {
  --base-size: 1em;
  --type-scale: 1.125;
  --h5: calc(var(--base-size) * var(--type-scale));
  --h4: calc(var(--h5) * var(--type-scale));
  --h3: calc(var(--h4) * var(--type-scale));
  --h2: calc(var(--h3) * var(--type-scale));
  --h1: calc(var(--h2) * var(--type-scale));
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

p {
  font-size: var(--base-size);
}

small,
.text_small {
  font-size: calc(var(--base-size) / var(--type-scale));
}

@media (min-width: 480px) {
  :root {
    --type-scale: 1.2;
  }
}
@media (min-width: 768px) {
  :root {
    --type-scale: 1.25;
  }
}
