:root {
  // General color pallet
  --light-primary-color: #ffaa00;
  --light-accent-color: #0047b3;
  --dark-primary-color: #d33685;
  --dark-accent-color: #20eff0;

  // Anchor tag color
  --anchor-link-http-light: #0084c2;
  --anchor-link-http-dark: #ba3075; //#e03a8d
}
